// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$post-copy: '.post-copy';

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
%__copy {
	color: get-color( black );

	font-size: 1.8rem;
	line-height: 1.75;

	// Media queries
	@media ( min-width: 960px ) {
		font-size: 2.2rem;
	}
}


%__caption {
	color: get-color( grey );

	font-family: get-font( copy );
	font-size: 1.1rem;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

%__citation {
	@extend %__caption;

	color: get-color( grey--light );
}

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
p {
	@extend %__copy;

	// Styles for 'inline' citation.
	cite {
		@extend %__citation;

		line-height: inherit;
	}
}

a {
	color: get-color( accent );
	text-decoration: none;
	position: relative;

	&:before,
	&::before {
		@include dims( 100% 0.3rem );

		content: '';
		display: block;
		background-color: rgba( get-color( accent ), 0.5 );

		position: absolute;
		bottom: 0;
		left: 0;
		transition: height 0.125s, background-color 0.125s;
	}

	@include on( hover focus ) {
		&:before,
		&::before {
			height: 0.6rem;
			background-color: rgba( get-color( accent ), 0.3 );
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: get-font( heading );
	font-weight: 700;
}

#{$post-copy}--leading {
	color: get-color( accent );
	margin-bottom: 1rem;

	font-size: 2.2rem;
	line-height: 1.4;
}

blockquote {
	@include dims( 100% auto );

	margin: 5rem 0;

	p {
		color: get-color( accent );
		margin: 0;

		font-family: get-font( heading );
		font-size: 2.4rem;
		line-height: 1.5;
	}

	// Styles for 'pull/block quote' citation.
	cite {
		@extend %__citation;

		display: block;
		border-top: 0.1rem solid get-color( grey--xlight );
		margin-top: 1.5rem;
		padding-top: 1.5rem;
	}
}

.site-title {
	padding: 0;
	padding-top: 0.1rem;
	padding-right: 1rem;
	margin: 0;
	margin-right: auto;
	line-height: 1.2;

	font-family: get-font( copy );
	font-size: 1.6rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	@media ( min-width: 768px ) {
		font-size: 2rem;
	}
}
