// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post-copy: '.post-copy';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
%__copy {
    color: getColor( black );

    font-size: rem( 18 );
    line-height: 1.75;
}


%__caption {
    color: getColor( grey--med );

    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: rem( 11 );
    text-transform: uppercase;
    line-height: rem( 8 );
    letter-spacing: 0.5px;
}

%__citation {
    @extend %__caption;

    color: getColor( grey--light );
}


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
p {
    @extend %__copy;

    // Styles for 'inline' citation.
    cite {
        @extend %__citation;

        line-height: inherit;
    }
}

a {
    @include position( relative );

    color: getColor( accent );
    text-decoration: none;

    &:before,
    &::before {
        @include size( 100% rem( 3 ) );
        @include position( absolute, null null 0 0 );
        @include transition( height 0.125s, background-color 0.125s );

        content: '';
        display: block;
        background-color: rgba( getColor( accent ), 0.5 );
    }

    @include on( hover focus ) {
        &:before,
        &::before {
            height: rem( 6 );
            background-color: rgba( getColor( accent ), 0.3 );
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 700;
}


#{$post-copy}--leading {
    color: getColor( accent );
    margin-bottom: rem( 10 );

    font-size: rem( 22 );
    line-height: 1.4;
}


blockquote {
    @include size( 100% auto );

    margin: rem( 50 ) 0;

    p {
        color: getColor( accent );
        margin: 0;

        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-size: rem( 24 );
        line-height: 1.5;
    }

    // Styles for 'pull/block quote' citation.
    cite {
        @extend %__citation;

        display: block;
        border-top: rem( 1 ) solid getColor( grey--xlight );
        margin-top: rem( 15 );
        padding-top: rem( 15 );
    }
}