// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$post-preview: '.post-preview';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$post-preview} {
    h2 {
        @extend %__post-preview-title;
    }
    
    p {
        @extend %__post-preview-copy;
    }
}


#{$post-preview}__inner {
    @include clearfix;
    @include display( block );
    @include set( margin-bottom padding-top padding-bottom, rem( 20 ) );
    @include transition( all, 0.25s );
    @include transform( translateY( 0 ) );

    @include pseudo( before ) {
        display: none;
    }

    @include on( hover focus ) {
        @include transform( translateY( -1% ) );
        box-shadow: 0 rem( 10 ) rem( 20 ) rem( -5 ) rgba( getColor( black ), 0.1 );
    }

    background-color: getColor( white );
    box-shadow: 0 rem( 5 ) rem( 20 ) rem( -5 ) rgba( getColor( black ), 0.15 );
}


#{$post-preview}-header,
#{$post-preview}-body,
#{$post-preview}-footer {
    @include set( padding-right padding-left, rem( 20 ) );
    @include descendant( last ) {
        margin-bottom: 0;
    }
}


#{$post-preview}-header {}


#{$post-preview}-body {
    @include set( padding-top padding-bottom, rem( 20 ) );
}


#{$post-preview}-footer {
    border-top: rem( 1 ) solid getColor( grey--xlight );
    padding-top: rem( 20 );
}

