// --------------------------------------------------
// VARIABLES
// --------------------------------------------------

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
.category-node {
	@include set( margin-right margin-bottom, rem( 20 ) );

	display: inline-block;
	color: get-color( white );
	background: linear-gradient( 45deg, get-color( accent ), darken( get-color( accent ), 20% ) );
	padding: rem( 12 ) rem( 14 ) rem( 8 );

	font-size: rem( 14 );
	line-height: 1;
	font-weight: 700;
	letter-spacing: rem( 0.5 );
	text-transform: uppercase;

	// Pseudo elems.
	@include pseudo( before ) {
		display: none;
	}
}
