// --------------------------------------------------
// VARIABLES
// --------------------------------------------------

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
.category-node {
	@include set( margin-right margin-bottom, 2rem );

	display: inline-block;
	color: get-color( white );
	background: linear-gradient( 45deg, get-color( accent ), darken( get-color( accent ), 20% ) );
	padding: 1.2rem 1.4rem 0.8rem;

	font-size: 1.4rem;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.05rem;
	text-transform: uppercase;

	// Pseudo elems.
	@include pseudo( before ) {
		display: none;
	}
}
