// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$layout-section: '.layout-section';

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$layout-section} {
	@include clearfix;
	@include dims( 100% auto );
}


#{$layout-section}__inner {
	@include container;

	padding: 0 4%;
	max-width: get-grid-setting( max-width );
	margin: 0 auto;
}


#{$layout-section}__inner--narrow {
	@extend #{$layout-section}__inner;

	max-width: get-grid-setting( max-width, narrow );
}
