// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$layout-section: '.layout-section';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$layout-section} {
    @include clearfix;
    @include size( 100% auto );
}

#{$layout-section}__inner {
    @include container;

    max-width: rem( 600 );
    margin: 0 auto;
}