// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$main: '.main';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$main} {
    @include size( 94% auto );

    max-width: rem( 960 );
    margin: 0 auto;
}