// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$main: '.main';

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$main} {
	@include dims( 100% auto );
	@include descendant( last ) {
		margin-bottom: 0;
	}

	margin: 0 auto;
	padding: 4rem 0;
}
