// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$footer: '.footer';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
/**
 * ...
 */
#{$footer} {
    @include size( 100% auto );

    min-height: rem( 200 );
    background-color: #222;
}


/**
 * ...
 */
#{$footer}__inner {
    @include size( 100% auto );

    max-width: rem( 960 );
    margin: 0 auto;
}