// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$footer: '.footer';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
/**
 * ...
 */
#{$footer} {
    @extend #{$layout-section};

    min-height: rem( 200 );
    background-color: #222;
}


/**
 * ...
 */
#{$footer}__inner {
    @extend #{$layout-section}__inner;

    margin: 0 auto;
}