// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$header: '.header';
$logo: '.logo';

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$header} {
	@extend #{$layout-section};

	height: 5rem;
	display: block;
	background-color: get-color( white );
	box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.15);
}

#{$header}__inner {
	@extend #{$layout-section}__inner;

	@include dims( 100% );

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;

	// Media queries
	@media ( min-width: 960px ) {
		max-width: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

#{$logo}-wrap {
	@include dims( auto 100% );
	@include set( padding-top padding-bottom, 0.5rem );

	display: block;
	flex-shrink: 0;
	margin-right: auto;

	img {
		@include dims( auto );

		max-width: 100%;
		max-height: 100%;
	}
}

#{$logo}-wrap__link {
	@include dims( auto 100% );

	display: block;

	@include pseudo( before ) {
		display: none;
	}
}
