// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$header: '.header';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
/**
 * ...
 */
#{$header} {
    @extend #{$layout-section};

    height: rem( 50 );
    display: block;
    background-color: #FFF;
    box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.15);
}


/**
 * ...
 */
#{$header}__inner {
    @extend #{$layout-section}__inner;

    margin: 0 auto;
}