// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
table {
	@include dims( 100% auto );

	background-color: get-color( off-white );
	border: 0.1rem solid get-color( grey--light );
	border-collapse: collapse;
	border-spacing: 0;
	margin: 5rem 0;

	thead {
		border-bottom: 0.1rem solid get-color( grey--light );
	}

	tbody {
		tr {
			&:nth-child( odd ) {
				background: rgba( get-color( black ), 0.05 );
			}
		}
	}

	th,
	td {
		padding: 1.5rem 1.5rem 1.2rem;
	}
}
