// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$post-tag: '.post-tag';

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$post-tag} {
	@include set( margin-right margin-bottom, rem( 20 ) );

	display: inline-block;
	padding-bottom: rem( 5 );
	font-size: rem( 14 );
	font-weight: 700;
	letter-spacing: rem( 0.5 );
}
