// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$hero: '.hero';
$hero-wrap: #{$hero}-wrap;

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$hero-wrap} {
	@include dims( 100% auto );

	background-color: get-color( grey--xlight );
	padding-top: 56.25%; // 16:9
	position: relative;

	img {
		@include dims( 100% );

		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	// Media Queries
	@media ( min-width: 960px ) {
		& {
			padding-top: 50%; // 2:1
		}
	}

	@media ( min-width: 1200px ) {
		& {
			padding-top: 40%; // 5:2
		}
	}
}

#{$hero-wrap}--has-overlay {
	@extend #{$hero-wrap};

	@include pseudo( after ) {
		@include dims( 100% );

		content: '';
		display: block;
		background: linear-gradient( transparent, get-color( accent ) );
		opacity: 0.5;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
