// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$hero: '.hero';
$hero-wrap: #{$hero}-wrap;


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
/**
 * ...
 */
#{$hero-wrap} {
    @include size( 100% auto );
    @include position( relative );

    background-color: #DADADA;
    padding-top: 56.25%;
}