// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$drawer-nav: '.drawer-nav';
$drawer-nav-header: #{$drawer-nav}-header;
$drawer-nav-body: #{$drawer-nav}-body;
$drawer-nav-footer: #{$drawer-nav}-footer;

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$drawer-nav} {
    @include size( rem( 300 ) 100% );
    @include display( block );
    @include position( fixed, 0 0 null null );
    @include transition( all, 0.15s );
    @include transform( translateX( 100% ) );

    background: linear-gradient( 45deg, get-color( accent ), darken( get-color( accent ), 20% ) );
    z-index: 1000;

    // Media queries
    @media ( max-width: 767px ) {
        // Allow 'active' state at 767px and below.
        .drawer-nav-active & {
            @include transform( translateX( 0 ) );
        }
    }
}

#{$drawer-nav}__inner {
    @include position( absolute, 0 0 0 0 );
}

#{$drawer-nav-header} {
    @include size( 100% rem( 50 ) );
    @include position( absolute, 0 null null 0 );

    display: flex;
    align-items: center;
    padding: 0 rem( 20 );
}

#{$drawer-nav-body} {
    @include position( absolute, rem( 50 ) null null 0 );

    width: 100%;
    height: calc( 100% - #{rem(200)} );
    padding: 0;

    // Descendant elems.
    ul {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .menu-primary-container {
        width: 100%;
    }

    .menu-item {
        @include set( margin padding, 0 );

        a {
            color: get-color( white );
            padding: rem( 14 ) rem( 20 );
            font-weight: 700;
            text-transform: uppercase;

            @include pseudo( before ) {
                display: none;
            }

            @include on( hover focus ) {
                color: get-color( white );
                background: rgba( get-color( black ), 0.2 );
            }
        }

    }

    .menu-item-has-children {
        & > ul {
            @include size( 100% auto );
            @include position( static );

            display: block;
            background: rgba( get-color( black ), 0.1 );
            box-shadow: none;
            transform: none !important; /// TEMP

            li {
                border: none;

            }

            a {
                padding-left: rem( 25 );
            }

            ul {
                @include position( static );

                a {
                    padding-left: rem( 35 );
                }
            }
        }
    }

    .nav-link-text {}
}

#{$drawer-nav-footer} {
    @include size( 100% rem( 150 ) );
    @include position( absolute, null null 0 0 );

    padding: 0 rem( 20 );
}
