// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
::selection {
	color: get-color( accent );
	background: rgba( get-color( accent ), 0.2 );
}

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	padding: 0;
	color: get-color( black );
	background-color: #FAFAFA;

	font-family: 'Catamaran', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

img {
	max-width: 100%;
	height: auto;
}
