// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
// Add any SASS variables that are specific to this file here.

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
$font-map: (
	default: (
		heading: ( 'Montserrat', Helvetica, Arial, sans-serif ),
		copy: ( 'Catamaran', Arial, Helvetica, sans-serif ),
	),
);
