// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$post: '.post';
$post-header: #{$post}-header;
$post-body: #{$post}-body;
$post-byline: #{$post}-byline;

// --------------------------------------------------
// PLACEHOLDERS
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.

// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
#{$post-header},
#{$post-body} {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend %__post-heading;
	}

	h1 {
		@extend %__post-title;
	}

	p {
		@extend %__post-copy;
	}
}

#{$post-header} {
	@include set( padding-bottom margin-bottom, 4rem );

	// Descendant elems.
	*:last-child {
		margin-bottom: 0;
	}
}

#{$post-body} {
	margin-bottom: 3rem;

	@include descendant( last ) {
		margin-bottom: 0;
	}
}

#{$post-byline}-wrap {
	@include clearfix;
	@include dims( 100% auto );

	position: relative;

	img {
		@include dims( 4rem );

		display: block;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY( -50% );
	}
}

#{$post-byline} {
	display: block;
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.2;

	@include descendant( first ) {
		display: inline-block;
		margin-right: 0.8rem;
		padding-right: 1rem;
		border-right: 0.1rem solid get-color( grey--xlight );
	}

	@include descendant( last ) {
		display: inline;
	}
}
